NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_KEY=your_supabase_anon_key

DATABASE_URL="postgresql://user:password@host:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://user:password@host:5432/postgres"

RESEND_API_KEY=your_resend_api_key

NEXT_PUBLIC_BASE_URL=http://localhost:3000

NEXT_PUBLIC_XENDIT_KEY=your_xendit_key
NEXT_PUBLIC_REDIRECT_URL=http://localhost:3000
